.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.mui-content {
	height: 100%;
}

.mui-btn-grey {
	color: #fff;
	border: 1px solid #ccc;
	background-color: #ccc;
}

.mui-btn-default {
	color: #fff;
	border: 1px solid #1FCC7C;
	background-color: #1FCC7C;
}

a {
	color: #ccc;
}

.header {
	color: #fff;
	border: 1px solid #1FCC7C;
	background-color: #1FCC7C;
	padding-top: 20px;
}

.header.mui-bar {
	height: 64px;
}
 .mui-bar-nav~.mui-content {
 	padding-top: 64px;
 }
.header .mui-title,
.header .mui-btn {
	color: #fff;
}

html,
body,
.mui-content {
	background-color: #fafafa;
}

#explain_panel {
	padding: 10px;
	border-radius: 0px;
}

#explain_panel ul {
	color: #1FCC7C;
	padding: 0px 20px;
}

.Bars {
	position: relative;
	width: 100px;
	border: 1px solid #B1D632;
	padding: 1px;
	margin-top: 5px;
}

.Bars div {
	position: relative;
	background: #090;
	color: #333333;
	height: 10px;
	line-height: 10px;
}

.clear {
	clear: both;
}

header .mui-icon {
	color: #fff;
}


/*动态信息*/
.info-content {
	color: #333;
	font-size: 14px;
	padding: 10px 0px;
}

.time {
	color: #ccc;
	font-size: 12px;
}
.user-name {
	color: #1FCC7C;
	font-size: 14px;
}

img.thumb-img {
	margin-right: 5px;
	width: 100px;
}

.msg-dot {
	position: absolute;
	right: 40px;
	top: 28px;
	background: red;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
