.ui-page-login, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content{
	height: 100%;
}

.mui-btn-grey {
	color: #fff;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.mui-btn-default {
	color: #fff;
	border: 1px solid #1FCC7C;
  background-color: #1FCC7C;
}

a {
  color: #ccc;
}

.header {
	color: #fff;
	border: 1px solid #1FCC7C;
  background-color: #1FCC7C;
}

.header .mui-title, .header .mui-btn {
	color: #fff;
}

html, body, .mui-content {
	background-color: #fafafa;
}

 #explain_panel {
  padding: 10px;
  border-radius: 0px;
}
#explain_panel ul {
	color: #1FCC7C;
	padding: 0px 20px;
}