.ui-page-login, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content{
	height: 100%;
}

.mui-btn-grey {
	color: #fff;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.mui-btn-default {
	color: #fff;
	border: 1px solid #1FCC7C;
  background-color: #1FCC7C;
}

a {
  color: #ccc;
}

/*html, body, .mui-content {
	background-color: #fff;
}*/
